

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #111;
  color: #fff;
  margin-top: 30px;
  width: 90%;
  margin: auto;
  border-radius: 20px;
}

.about-left {
  width: 50%;
}

.about-heading {
  font-size: 2.5rem;
  color: #00bcd4;
  margin-bottom: 20px;
}

.about-description {
  font-size: 1.2rem;
  margin-bottom: 30px;
  line-height: 1.8;
}

.about-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
}

.tag {
  background-color: #333;
  color: #fff;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 0.9rem;
}

.mern-heading {
  font-size: 2rem;
  color: #00bcd4;
  margin-bottom: 20px;
}

.mern-logos {
  display: flex;
  align-items: center;
  gap: 30px;

}

.logo-container {
  position: relative;
  text-align: center;
}

.mern-logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: block;
  margin: 0 auto;
}

.mern-logo:hover {
  transform: scale(1.2);
}

.logo-text {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 8px;
  display: block;
  text-align: center;
}

.logo-tooltip {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  padding: 5px 10px;
  font-size: 0.8rem;
  border-radius: 5px;
  white-space: nowrap;
  display: none;
  font-weight: bold;
}

.logo-container:hover .logo-tooltip {
  display: block;
}

.logo-container:hover .logo-tooltip {
  background-color: currentColor; /* This dynamically picks the color set in the logo-text */
}


.about-right {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  /* background-color: #00bcd4; */
}

.image{
  height: 80%;
}

.about-image {
  width: 100%;
  max-width: 400px;
  object-fit: contain;
}

.resumebutton{
  height: 20%;
  /* background-color: #333; */
}

@media screen and (max-width: 768px) {
  .about-container {
      flex-direction: column;
      padding: 20px;
  }

  .about-left,
  .about-right {
      width: 100%;
  }

  .about-image {
      margin-top: 0px;
  }
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 90px;
  background: none;
  border: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-btn:hover {
  color: red;
}

.resume-more {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to left, #1595b6, rgba(31, 38, 103, 0.9));
  border-radius: 5px;
  padding: 0 10px;
  font-weight: 600;
  margin-top: 50px;
  position: absolute;
  color: white;
  font-size: 20px;
  height: 45px;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 2;
  border: none;
}

.resumearrow img {
  margin-left: 10px;
  transform: rotate(224deg);
  width: 19px;
  filter: invert(1);
  transition: transform 0.3s ease;
}

.resume-more:hover .resumearrow img {
  transform: rotate(314deg);
}

