
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
  height: 110px;
  padding-top: 15px;
  /* background-color: aqua; */


}

.navbar-logo{
  /* background-color: antiquewhite; */
  position: relative;

}

.L img{
  /* font-size: 6.5rem; */
  width: 105px;

  margin-left: 80px;
  margin-right: 3px;
}

.logo-name{
  font-size: 42px;
  position: absolute;
  top: 15px;
  left: 163px;

}



.navbar-logo a {
  text-decoration: none; /* Remove underlinfor the anchor tag */
  color: white; /* Ensure the logo's color remains consistent */
}

/* .navbar-icons {
  display: flex;
  gap: 40px;
  margin-right: 100px;
}

.navbar-icons a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-icons a:hover {
  color: orange; /* Change hover color as needed */


/* Responsive Design */
@media (max-width: 718px) {
  .navbar {
    justify-content: space-between;
    gap: 5; /* Center logo on small screens */
  }

  .navbar-logo {
    margin-left: 10px; /* Remove left margin for centered alignment */
  }
  .navbar-icons{
    display: flex;
    gap: 20px;
  }

 
}

@media (max-width: 588px) {
  .navbar {
    justify-content: center; /* Center logo on small screens */
  }



  .navbar-logo{
    /* background-color: antiquewhite; */
    position: relative;
  
  }
  
  .L img{
    width: 105px;
    margin-left: 0;
    right: 31px;
    top: -44px;
    position: absolute;
    margin-right: 0;
  }
  
  .logo-name{
      font-size: 42px;
      position: absolute;
      top: -31px;
      left: -48px;
  
  }
}
